* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: Roboto Condensed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.corpo {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.027);
  border: 2px solid black;
  border-radius: 10px;
  padding: 3%;
  gap: 20px;
}

.nome_do_item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.forma {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sku_e_udm {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sku {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.udm {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.valor_e_quantidade {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.valor {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.quantidade {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.categoria {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 45%;
}

.input-botao-cadastrar {
  color: rgb(25, 78, 224);
  font-size: medium;
  background-color: none;
  border: 1px solid rgb(25, 78, 224);
  border-radius: 10px;
  padding: 4px;
}
