* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: Roboto Condensed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.botoes_voltar {
  color: rgb(25, 78, 224);
  font-size: medium;
  background-color: none;
  border: 1px solid rgb(25, 78, 224);
  border-radius: 10px;
  padding: 4px;
  text-decoration: none;
  margin-top: 1vh;
}

.corpo {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.027);
  border: 2px solid black;
  border-radius: 10px;
  padding: 3%;
  gap: 20px;
}

.nome_do_item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.forma {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#nome {
  border-radius: 10px;
  padding: 8px;
  border: 1px solid black;
}

.sku_e_udm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.sku {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#sku {
  border-radius: 10px;
  padding: 8px;
  border: 1px solid black;
}

.udm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#udm {
  border-radius: 10px;
  padding: 8px;
  border: 1px solid black;
}

.valor_e_quantidade {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.valor {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 45%;
}

#valor {
  border-radius: 10px;
  padding: 8px;
  border: 1px solid black;
}

.quantidade {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 45%;
}

#quantidade {
  border-radius: 10px;
  padding: 8px;
  border: 1px solid black;
}

.categoria {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 45%;
}

.input-botao-cadastrar {
  color: rgb(25, 78, 224);
  font-size: medium;
  background-color: none;
  border: 1px solid rgb(25, 78, 224);
  border-radius: 10px;
  padding: 4px;
}

#categoria {
  border-radius: 10px;
  padding: 8px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.cima {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.unidade_medida_id {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.unidade_medida_id select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: white;
}

.categoria {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.categoria select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: white;
}
